<div style="border: 1px; border-style: hidden, border-radius: 1px; padding: 15px;">
<h1><%= @title %></h1>
</div> 

<h2 align = 'center'>Betatech Headquarters</h2>

<p> We are a Seattle-based organization with offices in San Francisco and Cleveland. Our mission statement is: We are dedicated to creating the most 
comprehensive DNA analysis software and hardware for science-based applications worldwide.</p>
