<div style="border: 1px; border-style: hidden, border-radius: 1px; padding: 15px;">
<h1><%= @title %></h1>
</div>

<h2 align ='center'>Welcome to the Betatech Help Forums</h2>
<br>
<p> Contact us by phone during 8:00AM - 5:00PM PST business hours at
    <ul>
    <li> United States: 1-800-345-6789
    <li> Canada: 1-800-123-6789
    <li> Mexico: 01 800-234-5678;
    </ul>
    Thanks for stopping by! We hope you are satisfied with the care from our support team.
</p>
